<%= link_to 'All', list_tasks_path(current_list) %>
|
<%= link_to 'Done', filtered_list_tasks_path(current_list, :done) %>
|
<%= link_to 'Open', filtered_list_tasks_path(current_list, :open) %>
<br />
<%= link_to 'Lists', lists_path %>
<hr>

<h1 data-list="<%= current_list.id %>"><%= current_list.title %></h1>

<%= render 'lists/sharing_form' %>
<hr>
<%= render 'form' %>

<input type='checkbox' name='done' id='boss' value='1' data-url="<%= list_tasks_path(current_list) %>" data-method="PATCH" data-remote>
<div id='sort'>
  <%= render 'sort' %>
</div>

<ol id='tasks' data-type="<%= params[:type] %>">
  <%= render tasks %>
</ol>

<%= link_to "Remove completed", remove_completed_list_tasks_path,
                                method: :get, remote: true %><br/>

<hr>
<h2>List owner</h2>
<p data-person='<%= current_list.user.id %>'><%= current_list.user.name %></p>
<h2>List is shared with</h2>
<ul>
  <%= current_list.users.find_each do |user| %>
    <li data-person='<%= user.id %>'><%= user.name %></li>
  <% end %>
</ul>
